{% load static %}
<html>
    <head><title>Login Page</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
    <body>
        <form action="/signin/" method="post">
        {% csrf_token %}  
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="enter your name" required><br>
        <label for="username">Password:</label>
        <input type="password" id="password1" name="password1" placeholder="enter your password" required><br>
        <button type="submit">signin</button>
        </form>

    </body>
</html>